body {
    background-color: lightgray;
    
}

.finish {
    margin-left: 20px;
    font-size: 30px;
    padding: 10px 10px;
}

.clear {
    margin-left: 10px;
    font-size: 30px;
    padding: 10px 10px;
}

#canvas {
    margin: 20px;
    background:white;
    border: thin solid #aaaaaa;
}