<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
  <title>JHS AI Authentication</title>
  <link rel="stylesheet" href="styles.css?ver=1">
</head>
<body>
<h1> Authentication </h1>
<div>

   <form action="/registerData" method="post">
        <input class="btn" type="submit" id="registerData" value="Personal Sign Register Page">
    </form>

    <form action="/confirmData" method="post">
        <input class="btn" type="submit" id="confirmData" value="Personal Confirm Page">
    </form>

  <form action="/" method="Get">
    <input class="btn" type="submit" id="toMain" value="Back">
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>
