<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
  <title>Confirm Sign Data</title>
  <link rel="stylesheet" href="styles.css?ver=1">
</head>
<body>
<h1>Confirm Sign Data Page</h1>
<div>
  <canvas id ='canvas' width='256' height='256'>
    Canvas not supported
  </canvas>
</div>

<div>
  <input type="text" id="name" name="nameInput"
         placeholder="이름(한글 혹은 영어)"
         oninput="this.value = this.value.replace(/[^ㄱ-힣a-zA-Z]/g, '')">
  <button class = "btn" id = 'sendBtn'>Send</button>
</div>

<button class = "btn" id = 'ClearBtn'>Screen Clear</button>



<form action="/signAuthentication" method="Get">
  <input class="btn" type="submit" id="toAuthentication" value="Back">
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='confirmData.js?ver=22'></script>
</body>
</html>