<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title>JHS AI Main</title>
    <link rel="stylesheet" href="styles.css?ver=1">
</head>
<body>
<h1> Welcome to JHS A.I Main Page</h1>
<div>
<form action="/newData" method="get">
    <input class="btn" type="submit" id="createData" value="Create Page">
</form>

<form action="/sendData" method="get">
    <input class="btn" type="submit" id="sendData" value="Send Page">
</form>
</div>
<!-- <button class = "read" id = 'deleteBorder'>Delete Border</button>-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='main.js?ver=22'></script>

</body>
</html>
