<!DOCTYPE html>
<meta charset="utf-8">
    <head>
        <title>Create New Data in DB</title>
        <link rel="stylesheet" href="styles.css?ver=1">
    </head>

    <body>
        <h1>Create New Data</h1>
        <div>
            <canvas id ='canvas' width='256' height='256'>
                Canvas not supported
            </canvas>
        </div>

        <div>
            <form>
                <input class = 'radioBtn' type = 'radio' id = 'number'
                       value ='1' name = 'classify'>
                <label for='Number'>Number</label>

                <input class = 'radioBtn' type = 'radio' id = 'korean'
                       value ='2' name = 'classify'>
                <label for='Korean'>Korean</label>

                <input class = 'radioBtn' type = 'radio' id = 'english'
                       value ='3' name = 'classify'>
                <label for='English'>English</label>
            </form>
        </div>

        <button class = "btn" id = 'ClearBtn'>Screen Clear</button>
        <button class = "btn"  id = 'SaveBtn'>Save</button>

        <form action="dataList" method="Get">
            <button class = "btn" id = 'ReadBtn' type='button'>Data list</button>
        </form>

        <form action="/" method="Get">
            <input class="btn" type="submit" id="toMain" value="Back">
        </form>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src='newData.js?ver=22'></script>
    </body>
</html>