<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
    <title>Send Data to AI Model</title>
    <link rel="stylesheet" href="styles.css?ver=1">
</head>
<body>
<h1>Personal Data Page</h1>
<div>
    <canvas id ='canvas' width='256' height='256'>
        Canvas not supported
    </canvas>
</div>

<button class = "btn" id = 'ClearBtn'>Screen Clear</button>
<button class = "btn" id = 'sendBtn'>Send</button>

<table>
    <th><h5>결과 : </h5></th>
    <th><span id="result" style="color:red"></span></th>
</table>

<form action="/signAuthentication" method="Get">
    <input class="btn" type="submit" id="toAuthentication" value="Back">
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='personalData.js?ver=22'></script>
</body>
</html>