<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
  <title>JHS AI Database</title>
  <link rel="stylesheet" href="styles.css?ver=1">
</head>
<body>

<h1>학습 데이터 조회</h1>

<div>

  <form action="/signCurrentDB" method="Get">
    <input class="btn" type="submit" id="toCurrentDB" value=" 사용중인 DB 조회 ">
  </form>

  <form action="/signOneDB" method="Get">
    <input class="btn" type="submit" id="toOneDB" value="  한 글자 DB 조회  ">
  </form>

  <form action="/signWordDB" method="Get">
    <input class="btn" type="submit" id="toWordDB" value="여러 글자 DB 조회">
  </form>


  <form action="/" method="Get">
    <input class="btn" type="submit" id="toMain" value="Back">
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='main.js?ver=22'></script>
</body>
</html>
